.Post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Post>img {
    width: 30rem;
    max-height: 20rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;
    cursor: pointer;
}

.PostStatus {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.PostStatus>img {
    cursor: pointer;
}

.detail>span:nth-of-type(1) {
    font-weight: bold;
}