.Chat {
    height: 5rem;
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
    position: relative;
}

.Chat>img {
    height: 3rem;
    width: 3rem;

    border-radius: 50%;
}

.Chat .info-chat {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.Chat .info-chat {
    font-weight: lighter;
}

.Chat button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 3rem;
    background-color: var(--orange);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 3rem;
    position: absolute;
    right: 3rem;
    top: 0.3rem;
}