.infoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--cardColor);
    height: 40rem;
    width: 100%;
    overflow: auto;
}

.ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.ProfileImages>img:nth-of-type(1) {
    height: 30rem;
    object-fit: fill;
    object-position: center;
}

.ProfileImages>img:nth-of-type(2) {
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.infoForm .title {
    font-size: 2rem;
    margin: 3rem 2rem;
}

.infoForm>div {
    gap: 0.3rem;
    display: flex;
    flex-direction: row;
}

.infoForm input {
    width: 100%;
    align-self: center;
    border: none;
    background-color: var(--inputColor);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

}



.infoForm>button {
    width: 30%;
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 10px 1rem;
    background-color: var(--orange);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}



.infoForm .action-button label {
    width: 30%;
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 10px 1rem;
    background-color: var(--photo);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;

}