.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--cardColor);
    height: 80%;
    width: 100%;
}

.LoginForm .title {
    font-size: 2rem;
    margin: 3rem 2rem;
}

.LoginForm input {
    width: 80%;
    align-self: center;
    border: none;
    background-color: var(--inputColor);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

}

.LoginForm .sub-title {
    margin-left: 5rem;
    margin-bottom: 3rem;

}

.LoginForm .sub-title>button {
    width: 30%;
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 10px 1rem;
    background-color: var(--orange);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.LoginForm .sub-title>span {
    cursor: pointer;
}